@import "tailwindcss";

:root {
  --background-color: #ffffff;
  --foreground-color: #1a1a1a;
}

@theme {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --font-sora: var(--font-sora);
  --font-manrope: var(--font-manrope);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-manrope);
}
